<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/artists">Artists</a></li>
  <li><a href="/songs">Songs</a></li>
</ul>

<div>
<h1>Welcome to the Rails Jukebox</h1>

<img src="http://www.clipartbest.com/cliparts/eTM/ddR/eTMddRLoc.jpeg" height="300" width="250">

</div>
</body>