<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/artists">Artists</a></li>
  <li><a href="/songs">Songs</a></li>
</ul>

</body>

<div>
<h1>New Artist</h1>

<%= render 'form' %>

<footer>
<%= link_to 'Back', artists_path %>
</footer>
</div>